@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

/* header nav section */
header {
    background: #FFF8F3;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

header {
    background-image: url("images/header_bg.png"), url("images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom right, bottom left;
}

.header-title {
    font-size: 45px;
    color: #181818;
    font-weight: 800;
}

ul {
    display: flex;
    justify-content: space-between;
}

li {
    list-style: none;
}

li a {
    text-decoration: none;
    font-size: 20px;
    color: #474747;
    margin-right: 50px;
}

.btn-primary {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    padding: 18px 30px;
    border-radius: 5px;
    background: #FD6E0A;
    border: none;
}

.primary-color {
    color: #FD6E0A;
}

/* banner home section */
section {
    margin: 0 100px;
}

.banner {
    display: flex;
}

.profile-pic {
    width: 500px;
}

.banner-content {
    margin: 0 200px;
}

.banner-info {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    line-height: 0;
}

.banner-title {
    color: #181818;
    font-size: 70px;
    font-weight: 700;
    margin: 20px 0;
}

.banner-btn {
    margin-right: 20px;
    margin-bottom: 280px;
}

/* about section */
.about-container {
    max-width: 1140px;
    background: #FFF8F3;
    padding: 150px;
    margin: 130px 0;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 45px;
    font-weight: 700;
}

.about-info-container {
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.section-desc {
    text-align: center;
    padding: 0 160px;
}

/* skills section */

.skills, .resume {
    margin-bottom: 100px;
}
.skill-box-container {
    display: flex;
}

.skill-box {
    padding: 30px 30px 10px 30px;

    justify-content: space-around;
    margin: 14px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.box-title {
    font-size: 20px;
    font-weight: 700;
}

.box-description {
    font-size: 16px;
    line-height: 28px;
    color: #757575;
    font-weight: 400;
}

/* resume section */
.resume-container {
    display: flex;
    margin: 0 auto;
    gap: 70px;
}

.home {
    color: #181818;
}

.box-title {
    font-size: 30px;
    font-weight: 700;
    color: #474747;
    padding-bottom: 20px;
}
.info-title {
    font-size: 25px;
    font-weight: 700;
    color: #474747;
    line-height: 0px;
}
.sub-title {
    font-size: 20px;
    color: #757575;
    font-weight: 600;
}
.info-description {
    font-size: 16px;
    color: #757575;
    font-weight: 400;
    line-height: 28px;
}
hr {
    margin: 40px 0;
}
.download-cv{
    margin-top: 50px;
    text-align: center;
}


/* Contact Section */
footer {
    background:#FFF8F3;
    padding: 100px 0;
}
.contact {
    display: flex;
    gap: 117px;
}

.text-content {
    width: 50%;
}

.contact-title {
    font-size: 35px;
    color: #181818;
    font-weight: 700;
}
.contact-description{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #474747;
}

form input{
    padding: 18px 0 20px 25px ;
    margin-bottom: 20px ;
    display: block;
    border: none;
    outline: none;
    width: 100%;
}
.message {
    border: none;
    outline: none;
    width: 100%;
    padding: 18px 0 20px 25px ;
    margin-bottom: 20px;
}
